// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//navbar
.navbar {
    @include navabar_link;
}

//bottoni
button {
    @include btn_app;
    background-color: $btn_color;
    font-family: $font_common;
}

//lista
ul {
    list-style-type: none;
}

//icone
.icon {

    img {
        width: 20px;
        padding-right: 3px;
    }
}