// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//navbar
.navbar {
    @include navabar_link;
}

.small-text {
    font-size: $small_font;
    letter-spacing: $space_font;
    font-family: $font_common;
    text-transform: uppercase;
    font-weight: 600;
}

.subtitle {
    font-size: $medium_font;
    font-weight: 600;
    padding: 10px 0px 7px 0px;
    font-family: $font_common;
    color: $color_font_dgray;
    text-transform: uppercase;
    letter-spacing: $space_font_title;
}


h2 {
    font-size: $title_font;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $font_common;
    color: $color_font_dgray;
    padding-bottom: 7px;
    letter-spacing: $space_font_title;
}

p {
    font-family: $font_second;
    color: $color_font_lgray; 
    font-size: $small_font_mont;
    font-weight: 500;
    padding-bottom: 6px;
    margin-left: 28px;
}

h1 {
    font-size: $big_font;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    color:$white_color;
}


//bottoni
button {
    @include btn_app;
    background-color: $orange_color;
    font-family: $font_common;
    letter-spacing: $space_font;
}

.tasto-prev, .tasto-next {
    @include btn_lateral;
}

.tasto-prev {
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    left: 0;

    .small-text {
        transform: rotate(90deg);
        margin-top: 5px;

    }
}

.tasto-next {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-right: 0;
    right: 0;

    .small-text {
        transform: rotate(-90deg);
    }
}

.tasto-pizza {
    @include btn_pizza;

    img {
        width: 10px;
    }
}

//lista
ul {
    list-style-type: none;
}

//icone
.icon {

    img {
        width: 20px;
        padding-right: 3px;
    }
}

