footer{
    
    .row {
        height: 410px;
        margin-bottom:0px;
        position: relative;
    }

    .right {
        .big-img{
            background-image: url(../img/footer-img-1.jpg);
        }

        .text {
            background-image: $bg-star;
            background-size: cover;
            padding: 70px 40px 125px 40px;;
            display: flex;

            div {
                flex: calc(100% / 3);
                display: flex;
                flex-direction: column;
            }

            .restaurants {
                
                p {
                    margin-bottom: 4px;
                }
            }

            .small-text {
                font-size: $list_font;
                color: $white_color; 
                color: $gold_color;
                padding: 0;
                padding-top: 11px;

            }

            p {
                margin: 0px;
                padding-bottom: 10px;
                font-weight: 400;
            }

            .crew {
                .subtitle {
                    color: $white_color;
                }
            }

            .working {
                span {
                    font-size: $small_font;
                }

                .fab {
                    color: $white_color;
                    font-size: 6px;
                    margin-left: 3px;
                }
            }
        }

        .tasto-pizza {
            bottom: 15px;
            right: 15px;
        }

        .quode {
            position: absolute;
            bottom: 27px;
            left: 40px;

            p {
                margin: 0px;
                font-size: $xs_font;
                color: $gold_color;

                span {
                    color:$color_font_quote;
                }
            }
        }
    }
}