footer{
    
    .row {
        height: 410px;
        margin-bottom:0px;
    }

    .right {
        .big-img{
            background-image: url(../img/footer-img-1.jpg);
        }

        .text {
            background-image: $bg-star;
            background-size: cover;
            padding: 70px 40px 40px 40px;
        }
    }
}