header {
    background-image: url(../img/h3-rev-bckgrnd-ing.jpg);
    background-repeat: repeat;
    position: relative;
}

    .navbar {
        
        ul {
            display: flex;
            align-items: center;

            li {
                padding: 13px 12px 13px 12px;
                text-transform: uppercase;
                display: flex;
                align-items: center;

            }
        }
    }

    .center {

        .logo-app {
            display: flex;
            align-items: center;

            img {
                width: 90px;
            }
        }
    }