header {
    background-image: $bg-star;
    position: relative;
    background-size: cover;
    font-family: $font_common;
}

.navbar {
        
    ul {
        display: flex;
        align-items: center;

        li {
            padding: 13px 13px 15px 13px;
            text-transform: uppercase;
            display: flex;
            align-items: center;

        }
    }
}

.center {

    .logo-app {
        display: flex;
        align-items: center;

        img {
            width: 86px;
        }
    }
}

.jumbotron {
    
    .urban{
        position: relative;
        padding-bottom: 80px;

        img {
            width: 41%;
            transform: translateX(72%);
        }

        .pizza-logo {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);

            img {
                width: 52%;
                transform: translateX(46%);
                padding-top: 4px;
            }
        }
    }
}