main {
    .advertising {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;

        .adv-img {
            margin-right: 5px;
            flex: 25%;

            img {
                max-width: 100%;
            }
        }
    }
}

.hello {
    background-image: $bg-hello;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}