@mixin navabar_link {
    color: $white_color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font_common;
    font-size: $small_font;
    width: 65%;
    margin: auto;
}

@mixin btn_app {
    text-transform: uppercase;
    border: 0px;
    color: $white_color;
    padding: 9px 21px;
    font-size: $small_font;
    cursor: pointer;
}

@mixin btn_lateral {
    height: 45px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $white_color;
    color: $orange_color;
    text-transform: uppercase;
}