@mixin navabar_link {
    color: $white_color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font_common;
    font-size: $small_font;
    width: 65%;
    margin: auto;
}

@mixin btn_app {
    text-transform: uppercase;
    border: 0px;
    color: $white_color;
    padding: 9px 21px;
    font-size: $small_font;
    cursor: pointer;
}

@mixin btn_lateral {
    height: 45px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: $white_color;
    color: $orange_color;
    text-transform: uppercase;
}

@mixin hello-container{
    background-image: $bg-hello;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: $font_common;
    text-align: center;
    text-transform: uppercase;
}

@mixin marks {
    color: #b7903c;
    font-size: 30px;
    padding-bottom: -20px;
    line-height: 40px;
}

@mixin btn_pizza {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: $bg_pizza_color;
    border-radius: 50%;
    padding: 2px 7px;
}