//background
$bg-star: url(../img/h3-rev-bckgrnd-ing.jpg);
//colori
$orange_color: #D2401E; 
$white_color: white;

//font
$font_common: 'Roboto Condensed', sans-serif;

//grandezza font
$small_font: 7px;

//logo
$logo: 70px;