//background
$bg-star: url(../img/h3-rev-bckgrnd-ing.jpg);
$bg-hello: url(../img/h3-testimonials-bckgrnd.jpg);
$bg_build_pizza: url(../img/h3-background-img.jpg);
$bg_comics: url(../img/h3-img-5a.jpg);
$bg_booking: url(../img/h3-background-img-3.jpg);
$bg_footer: url(../img/footer-img-1.jpg);

//colori
$orange_color: #D2401E; 
$white_color: white;
$gold_color: #B7903C;
$dots_color:#EBEBDE;
$bg_pizza_color:#F6F7F2;
$bg_logo_color: #F7F7F2;
$bg_lateral_bar :#EE2852;

//font
$font_common: 'Barlow Condensed', sans-serif;
$font_second: 'Montserrat', sans-serif;

//grandezza font roboto
$xs_font: 7px;
$small_font: 8px;
$list_font: 12px;
$medium_font:16px;
$title_font: 25px;
$big_font: 44px;
$number_font: 35px;

$space_font: 1px;
$space_font_title: 1px;

//grandezza font montserrat
$medium_font_mont: 10px;
$small_font_mont: 8px;

//colore font
$color_font_dgray: #303030;
$color_font_lgray: #A6A6A6;
$color_font_brown: #AB4027;
$color_font_quote: #339966;
//logo
$logo: 70px;

//marigine
$margin_common: 5px;