//background
$bg-star: url(../img/h3-rev-bckgrnd-ing.jpg);
$bg-hello: url(../img/h3-testimonials-bckgrnd.jpg);

//colori
$orange_color: #D2401E; 
$white_color: white;
$gold_color: #B7903C;
$dots_color:#EBEBDE;
$bg_pizza_color:#F6F7F2;

//font
$font_common: 'Roboto Condensed', sans-serif;

//grandezza font
$small_font: 7px;
$medium_font:15px;
$title_font: 20px;
$space_font: 1px;

//logo
$logo: 70px;